@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Yekan';
    src: url(./vazir-font-v16.1.0/vazir-font-v16.1.0/Vazir.ttf);
}

#app{
    font-family: 'Yekan';
}
